/*Begin tablet*/
@media screen and (min-width: 640px) {
    nav ul li {
        display: inline-block;
        border-radius: 1em;
        box-shadow: 0.5em 0.5em 0.5em black;
    }

    .desktop {
        display: none;
    }


    figure {
        box-shadow: 0.5em 0.5em 0.5em black;
    }

    main div .center {
        width: 50%;
        
        border-right: 0.3em solid black;
    }
}
/*End tablet*/